*.class

# Package Files #
#*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF

# Probably don't want compiled modules in repo.
war/BasicMap
war/MouseOvers
war/ClusterPointsMap
war/AnimatedMarker/

# eclipsei/OS stuff
.settings
.project
.classpath
.externalToolBuilders/
.DS_Store
